player-connection-mode=Listen
player-connection-guid=3530069426
player-connection-debug=0
player-connection-project-name=UnityClient
player-connection-ip=192.168.0.47
player-connection-ip=192.168.56.1
player-connection-ip=192.168.253.1
player-connection-ip=192.168.133.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=de035831f4c24d23ad237c51b208457b
