player-connection-mode=Listen
player-connection-guid=832780577
player-connection-debug=0
player-connection-project-name=UnityClient
player-connection-ip=192.168.56.1
player-connection-ip=192.168.253.1
player-connection-ip=192.168.133.1
player-connection-ip=172.22.32.1
player-connection-ip=192.168.0.46
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=1c187e01ffac44ba96157f47be05b44d
